@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sacramento&family=Tangerine:wght@400;700&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.work-sans-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.header-container {
  /* height: 700px; */
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgb(34, 31, 31),
    rgb(0, 0, 0)
  );
}
/* Shared Styles Starts */
.display-flex {
  display: flex;
}
.max-width {
  max-width: 1060px;
}
.container-center {
  margin: 0 auto;
}

.orange {
  color: rgb(230, 83, 60);
}
.white {
  color: rgb(255, 255, 255);
}
.off-white {
  color: rgba(255, 255, 255, 0.5);
}
.dark-black {
  background: rgb(0, 0, 0);
}
.btn {
  width: 224px;
  height: 54px;
  border-radius: 50px;
  background-color: rgb(230, 83, 60);
  border: none;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1.15rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
#download {
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  margin-left: 14px;
}
.title {
  font-size: 3rem;
  font-weight: 900;
}
.title-2 {
  font-size: 1.75rem;
  font-weight: 900;
}
.title-content {
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 14px;
}
/* Shared Styles Ends*/

/* Header Section Starts */
/* Navbar Section */
.nav-container {
  justify-content: space-between;
  /* border: 1px solid red; */
  padding-top: 50px;
  align-items: center;
}
.nav-name {
  font-style: italic;
  font-size: 2.25rem;
  font-weight: 600;
}

.nav-btn {
  gap: 48px;
  padding: 2px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}
.nav-button {
  width: 92px;
  height: 38px;
  padding: 8px 20px;
  border-radius: 50px;
  border: none;
  font-size: 1.125 rem;
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
}
#home-bg {
  background-color: rgb(230, 83, 60);
}
.ham-btn {
  display: none;
}

/* Banner Styles Starts */
.bn-container {
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}
.bn-title {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 4.88rem;
  font-weight: 900;
  text-align: left;
  line-height: 120%;
}
#shape {
  font-family: "Tangerine", cursive;
  color: rgb(255, 255, 255);
  font-size: 12.5rem;
  font-weight: 400;
  text-align: left;
}
.bn-title-content {
  margin-top: 28px;
  margin-bottom: 28px;
  font-size: 1rem;
  font-weight: 400;
}
.bn-image {
  /* border: 1px solid red; */
  width: 349px;
  height: 580px;
  background-image: url("../assets/Images2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.bn-card-1 {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  width: 206px;
  height: 96px;
  margin-top: 125px;
  margin-right: -74px;
  margin-left: 230px;
  padding: 17px 17px;
}
#five-hundred {
  font-size: 2.5rem;
  font-weight: 900;
}
.bn-card-2 {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  width: 206px;
  height: 96px;
  margin: 198px 256px 63px -113px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 23px;
}
#red-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(230, 83, 60);
  display: flex;
  align-items: center;
  justify-content: center;
}
#three-fifty {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 8px;
}
.tutorial {
  font-size: 1rem;
  font-weight: 400;
}
/* Header Section Ends */

/* Main Section Styles Starts */
/* Habits Section Style Starts */
.habit-title {
  text-align: center;
  padding-top: 10%;
}
.habit-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 54px;
  gap: 40px;
}
.habit-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.habit-image > img {
  border-radius: 50%;
  border: 4px solid gray;
}
.habit-content {
  text-align: center;
  margin-top: 9%;
}
.habit-content > h3 {
  font-size: 1.125rem;
  font-weight: 600;
}
.habit-content > p {
  font-size: 0.875rem;
  margin-top: 3%;
  font-weight: 400;
}
/* Habits Section Style Ends */

/* Run an extra mile section starts */
.run {
  background-color: rgb(34, 34, 34);
  padding: 30px 32px 30px 54px;
  margin-top: 10%;
  justify-content: space-between;
  align-items: center;
  border-radius: 18px;
}
.run-text {
  width: 443px;
}
.run-text > p {
  margin-top: 14px;
}
.run-text > button {
  margin-top: 34px;
}
.run-img {
  width: 366px;
  height: 312px;
  border-radius: 18px;
  background-image: url("../assets/run.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 330%;
  background-position-x: 68%;
  background-position-y: 30%;
}
/* Run an extra mile section ends */

/* BMI Calculator Section Starts */
.bmi {
  margin-top: 10%;
}
.bmi-calculator {
  justify-content: space-between;
}
.bmi-title {
  width: 671px;
  text-align: left;
}
.bmi-background {
  background-color: rgb(34, 34, 34);
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 88px;
}
.bmi-table {
  width: 310px;
  height: 216px;
  margin-top: 52px;
}
.bmi-table,
.bmi-table th,
.bmi-table td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
}
.bmi-table th {
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  padding-left: 15px;
}
.bmi-table td {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
  padding-left: 15px;
}
.bmi-form {
  width: 580px;
  height: 389px;
  /* border: 1px solid red; */
}
.bmi-calculation {
  margin-top: 34px;
}
.bmi-calculation input[type="text"],
select {
  width: 283px;
  height: 48px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  padding-left: 20px;
  margin-bottom: 2%;
  margin-right: 3px;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.bmi-calculation select {
  /* width: 283px; */
  border-right: 10px solid transparent;
}
.bmi-calculation ::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.bmi-calculation select option {
  background-color: rgb(69, 69, 69);
}
.bmi-calculation #activity {
  width: 99%;
}
.bmi-calculation button {
  margin-top: 5%;
}
/* BMI Calculator Section Ends */

/* Our Team Section Starts */
.team {
  margin-top: 5%;
}
.team-title {
  width: 670px;
  text-align: center;
}
.team-title p {
  margin-top: 2%;
}
.team-members {
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  padding: 20px;
  gap: 20px;
  width: 100%;
  margin-top: 5%;
}
.members {
  width: 327px;
  height: 272px;
  border-radius: 18px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
.member-1 {
  background-image: url("../assets/trainer1.png");
}
.member-2 {
  background-image: url("../assets/trainer2.png");
}
.member-3 {
  background-image: url("../assets/trainer3.png");
}
.member-4 {
  background-image: url("../assets/trainer4.png");
}
.member-5 {
  background-image: url("../assets/trainer5.png");
}
.member-6 {
  background-image: url("../assets/trainer6.png");
}
.name {
  margin-top: 200px;
  margin-left: 30px;
}
.name p {
  font-size: 500;
}
/* Our Team Section Ends */
/* Main Section Styles Ends */
